body {
	font-family: helvetica;
	text-align: left;
	width: 100%;
  	margin: 0;
}

.main {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -45%);
}

#exercises {
	margin-bottom: 80px;
}


#projects {
	margin-bottom: 80px;
}

h1 {
	font-size:12px;
	text-transform: uppercase;
	color: white;
	letter-spacing: 2px;
	font-weight: 100;
}

a {
	color: white;
	font-size: 50px;
	text-decoration: none;
}

a:hover {
	color: #261F78;	
}

