* {
	box-sizing: border-box;
}

body {
	background: #ba9d66;
}

#lettera {
	width: 50px;
	height: 110px;
	top: 90px;
	position: absolute;
}

.aleftline {
	width: 5px;
	height: 105px;
	background: red;
	top: 80px;
	left: 290px;
	position: absolute;
	transform: rotate(20deg);
}

#letterr {
	width: 50px;
	height: 110px;
	top: 200px;
	position: absolute;
}

.rrightline {
	width: 5px;
	height: 105px;
	background: #000000;
	top: 100px;
	left: 300px;
	position: absolute;
}

.rleftline {
	width: 5px;
	height: 105px;
	background: #000000;
	top: 100px;
	left: 290px;
	position: absolute;
}

.rlinedown {
	width: 5px;
	height: 50px;
	background: #000000;
	top: 94px;
	left: 315px;
	position: absolute;
	transform: rotate(-400deg);
}

.rlineup {
	width: 5px;
	height: 50px;
	background: #000000;
	top: 127px;
	left: 315px;
	position: absolute;
	transform: rotate(400deg);
}
rlinedown {
	width: 5px;
	height: 50px;
	background: #000000;
	top: 94px;
	left: 315px;
	position: absolute;
	transform: rotate(-400deg);
}


