* {
	box-sizing: border-box;
}

body {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4f4154+0,9f8771+2,9f8771+19,9e8066+40,4f4a51+76,4f4154+100 */
background: #4f4154; /* Old browsers */
background: -moz-linear-gradient(top,  #4f4154 0%, #9f8771 2%, #9f8771 19%, #9e8066 40%, #4f4a51 76%, #4f4154 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #4f4154 0%,#9f8771 2%,#9f8771 19%,#9e8066 40%,#4f4a51 76%,#4f4154 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #4f4154 0%,#9f8771 2%,#9f8771 19%,#9e8066 40%,#4f4a51 76%,#4f4154 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4154', endColorstr='#4f4154',GradientType=0 ); /* IE6-9 */

}
input {
	display: none;
}
a {
    color: black;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

#rb {
	display:inline-block
}
#rb {
	display:block;
	position:relative;
}

h2#rb,
#rb.inline {
	display:inline-block
}
h1,p,h2{
  color:#FFF;
}
@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
#rb:hover,
#rb:focus {
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

#rb .two {
	transform-origin:0px 100px;
	transition: all 1s;
}
#rb .three {
	transition: all 1s;
}
#rb .four {

	transition: all 1s;

}

#testa:checked + #rb:hover {
	-webkit-animation-name: none;
}

#testa:checked + label .two {
	transform: rotate(86deg);
}
#testa:checked + label .three {
	transform: rotate(-443deg) translate(-75px);
}
#testa:checked + label .three2 {
	transform: rotate(-443deg) translate(-8px);
}
#testa:checked + label .four {
	transform: rotate(443deg)  translate(40px);
}

#ub {
	display:inline-block
}
#ub {
	display:block;
	position:relative;
}

h2#ub,
#ub.inline {
	display:inline-block
}
h1,p,h2{
  color:#FFF;
}
@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}


#ub:hover,
#ub:focus {
    transform-origin: 0px 100px;
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.8s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

#ub .two {
	transform-origin:0px 100px;
	transition: all 1s;
}
#ub .sixteen{
	transition: all 1s;
}
#ub .four {

	transition: all 1s;

}

#testb:checked + #ub:hover {
	-webkit-animation-name: none;
}

#testb:checked + label .two {
	transform: rotate(86deg);
}

#testb:checked + label .four {
	transform: rotate(445deg)  translate(8px);
}
#testb:checked + label .sixteen {
	transform: rotate(-75deg)  translate(-55px);
}

#nb {
	display:inline-block
}
#nb {
	display:block;
	position:relative;
}

h2#nb,
#nb.inline {
	display:inline-block
}
h1,p,h2{
  color:#FFF;
}
@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
#nb:hover,
#nb:focus {
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}
#nb .two {
	transform-origin:0px 100px;
	transition: all 1s;
}

#nb .three {

	transition: all 1s;

}

#testc:checked + #nb:hover {
	-webkit-animation-name: none;
}

#testc:checked + label .two {
	transform: rotate(86deg);
}

#testc:checked + label .three {
	transform: rotate(-460deg) translate(-75px);
}


#ib {
	display:inline-block
}
#ib {
	display:block;
	position:relative;
}

h2#ib,
#ib.inline {
	display:inline-block
}
h1,p,h2{
  color:#FFF;
}
@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
#ib:hover,
#ib:focus {
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

#ib .two {
	transform-origin:0px 100px;
	transition: all 1s;
}
#ib .ten {

	transition: all 1s;

}

#testd:checked + #ib:hover {
	-webkit-animation-name: none;
}

#testd:checked + label .two {
	transform: rotate(86deg);
}

#testd:checked + label .ten {
	transform: rotate(-460deg) translate(-96px);
}



#cb {
	display:inline-block
}
#cb {
	display:block;
	position:relative;

}

h2#cb,
#cb.inline {
	display:inline-block
}
h1,p,h2{
  color:#FFF;
}
@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
#cb:hover, 
#cb:focus {
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}
#cb .two {
	transform-origin:0px 100px;
	transition: all 1s;
}
#cb .three {

	transition: all 1s;

}
#cb .four {

	transition: all 1s;
}

#teste:checked + #cb:hover {
	-webkit-animation-name: none;
}

#teste:checked + label .two {
	transform: rotate(-86deg);
}
#teste:checked + label .three {
	transform: rotate(-87deg) translate(-76px);
}
#teste:checked + label .four {
	transform: rotate(86deg) translate(15px);
}

#runic {
	position: relative;
	width: 300px;
	height: 105px;
	margin-top: 250px;
	margin-left: 500px;
	transform: scale(4);
}
#rb {
	position: relative;
	width: 50px;
    height: 107px;
	float: left;

}
#ub {
	position: relative;
	width: 50px;
    height: 107px;
	left: 20px;
	float: left;
}
#nb {
	position: relative;
	width: 50px;
    height: 107px;
	left: 40px;
	float: left;
}
#ib {
	position: relative;
	width: 18px;
    height: 107px;
	left: 60px;
	float: left;
}
#cb {
	position: relative;
	width: 50px;
    height: 107px;
	left : 80px;
	float: left;
}

#letters{
	width: 1000px;
	height: 3000px;
 	position: relative;
 	margin-top: -500px;
	margin-left: 70px;
}
.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px);
}

#ia {
	width: 25px;
	height: 105px;
	margin-top: 600px;
	margin-left: 500px;
	float: left;
	position: absolute;
	transform: rotate(60deg);
}
#ka {
	width: 65px;
	height: 105px;
	margin-top: 1200px;
	margin-left: 300px;
	float: left;
	position: absolute;
	transform: rotate(-50deg) scale(2);
}

#aa {
	width: 25px;
	height: 105px;
	margin-top: 1000px;
	margin-left: 500px;
	float: left;
	position: absolute;
	transform: rotate(-20deg);
}
#da {
	width: 25px;
	height: 105px;
	margin-top: 1600px;
	margin-left: 700px;
	float: left;
	position: absolute;
	transform: rotate(70deg) scale(3);
}

#specimen {
	width: 1000px;
	height: 500px;
	margin-top: 1700px;
	margin-left: 50px;
	float: left;
	position: relative;
}

#a {
	width: 50px;
	height: 105px;
	position: relative;
	margin-top: 50px;
	margin-left: 50px;
	float: left;
	background-color: yellow;
}
#b {
	width: 50px;
	height: 105px;
	position: relative;
	margin-top: 50px;
	margin-left: 50px;
	float: left;
	background-color: yellow;
}

#c {
	width: 50px;
	height: 105px;
	position: relative;
	margin-top:50px;
	margin-left:50px;
	float: left;
	background-color: yellow;
}

#d {
	width: 70px;
	height: 105px;
	position: relative;
	margin-top:50px;
	margin-left:50px;
	float: left;
	background: yellow;
}

#e {
	width: 70px;
	height: 105px;
	position: relative;
	margin-top:50px;
	margin-left:50px;
	float: left;
	background-color: yellow;
}

#f {
	width: 70px;
	height: 105px;
	position: relative;
	margin-top: 50px;
	margin-left: 50px;
	float: left;
	background-color: yellow;
}


#g {
	width: 50px;
	height: 105px;
	position: relative;
	margin-top: 50px;
	margin-left: 50px;
	float: left;
	background-color: yellow;
}
#h {
	width: 50px;
	height: 105px;
	position: relative;
	margin-top: 50px;
	margin-left: 50px;
	float: left;
	background-color: yellow;
}
#i {
	width: 20px;
	height: 105px;
	position: relative;
	margin-top: 50px;
	margin-left: 50px;
	float: left;
	background-color: yellow;
}
#j {
	width: 50px;
	height: 105px;
	position: relative;
	margin-top: 50px;
	margin-left: 50px;
	float: left;
	background-color: yellow;
	
}
#k {
	width: 70px;
	height: 105px;
	position: relative;
	margin-top: 50px;
	margin-left: 50px;
	float: left;
	background-color: yellow;
	
}
#l {
	width: 50px;
	height: 105px;
	position: relative;
	margin-top: 50px;
	margin-left: 50px;
	float: left;
	background-color: yellow;
}
#m {
	width: 70px;
	height: 105px;
	position: relative;
	margin-top: 50px;
	margin-left: 50px;
	float: left;
	background-color: yellow;
}
#n {
	width: 70px;
	height: 105px;
	position: relative;
	margin-top: 50px;
	margin-left: 50px;
	float: left;
	background-color: yellow;
}
#o {
	width: 100px;
	height: 105px;
	position: relative;
	margin-top:50px;
	margin-left:50px;
	float: left;
	background-color: yellow;
	
}
#p {
	width: 50px;
	height: 105px;
	position: relative;
	margin-top: 50px;
	margin-left: 50px;
	float: left;
	background-color: yellow;
}
#q {
	width: 110px;
	height: 105px;
	position: relative;
	margin-top: 50px;
	margin-left: 50px;
	float: left;
	background-color: yellow;
	
}
#r {
	width: 50px;
	height: 105px;
	position: relative;
	margin-top: 50px;
	margin-left: 50px;
	float: left;
	background-color: yellow;
	
}
#s {
	width: 50px;
	height: 105px;
	position: relative;
	margin-top: 50px;
	margin-left: 50px;
	float: left;
	background-color: yellow;
}
#t {
	width: 50px;
	height: 105px;
	position: relative;
	margin-top: 50px;
	margin-left: 50px;
	float: left;
	background-color: yellow;
}

#u {
	width: 50px;
	height: 105px;
	position: relative;
	margin-top: 50px;
	margin-left: 50px;
	float: left;
	background-color: yellow;
}

#v {
	width: 100px;
	height: 105px;
	position: relative;
	margin-top: 50px;
	margin-left: 50px;
	float: left;
	background-color: yellow;
}

#w {
	position: relative;
	width: 70px;
	height: 110px;
	top: 50px;
	left: 50px;
	float: left;
	background-color: yellow;
}

#x {
	width: 50px;
	height: 105px;
	position: relative;
	margin-top: 50px;
	margin-left: 70px;
	float: left;
	background-color: yellow;
}

#y {
	width: 50px;
	height: 105px;
	position: relative;
	margin-top: 50px;
	margin-left: 50px;
	float: left;
	background-color: yellow;
}

#z {
	width: 50px;
	height: 105px;
	position: relative;
	margin-top: 50px;
	margin-left: 50px;
	float: left;
	background-color: yellow;
}


.one {
	width: 4px;
	height: 113px;
	background: #4F4154;
	position: absolute;
	transform: rotate(20deg);
}

.two {
	width: 4px;
	height: 105px;
	background: #4F4154;
	position: absolute;
}

.three {
	width: 4px;
	height: 50px;
	background: #4F4154;
	position: absolute;
	transform: rotate(-405deg);
	
}

.four {
	width: 4px;
	height: 50px;
	background: #4F4154;
	position: absolute;
	transform: rotate(405deg);
	
}
.five {
	width: 4px;
	height: 26px;
	background: #4F4154;
	position: absolute;
	transform: rotate(90deg);
	
}
.six {
	width: 4px;
	height: 74px;
	background: #4F4154;
	position: absolute;
	transform: rotate(-405deg);
	
}
.seven {
	width: 4px;
	height: 74px;
	background: #4F4154;
	position: absolute;
	transform: rotate(405deg);
	
}
.eight {
	width: 4px;
	height: 25px;
	background: #4F4154;
	position: absolute;
	transform: rotate(110deg);
	
}
.nine {
	width: 4px;
	height: 25px;
	background: #4F4154;
	position: absolute;
	transform: rotate(70deg);
	
}
.ten {
	width: 4px;
	height: 14px;
	background: #4F4154;
	position: absolute;
	transform: rotate(90deg);
	
}
.eleven {
	width: 4px;
	height: 45px;
	background: #4F4154;
	position: absolute;
	transform: rotate(90deg);
	
}
.twelve {
	width: 4px;
	height: 20px;
	background: #4F4154;
	position: absolute;
	
}
.thirteen {
	width: 4px;
	height: 25px;
	background: #4F4154;
	position: absolute;
	transform: rotate(65deg);
	
}
.fourteen {
	width: 4px;
	height: 25px;
	background: #4F4154;
	position: absolute;
	transform: rotate(120deg);
	
}
.fifteen {
	width: 4px;
	height: 70px;
	background: #4F4154;
	position: absolute;
	transform: rotate(90deg);
	
}
.sixteen {
	width: 4px;
	height: 70px;
	background: #4F4154;
	position: absolute;
	
}
.seventeen {
	width: 4px;
	height: 113px;
	background: #4F4154;
	position: absolute;
	transform: rotate(160deg);
	
}

